<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	<add name="KCStoreEntities11_16" connectionString="metadata=res://*/BikeEntities11_16.csdl|res://*/BikeEntities11_16.ssdl|res://*/BikeEntities11_16.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=KCStore;persist security info=True;user id=KCStoreUser;password=Y8nL_pT9.7;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>