body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Shared styles */
nav
{
	margin: 20px 0 0 18px;
	padding: 4px;
	background: #6c0;
	border: 1px solid chartruese;
}

nav ul
{
	list-style-type: none;
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
	margin: 0;
	padding: 0;
	margin-left: 10px;
}

nav ul li
{
	display: inline-block;
	width: 100px;
	height: 35px;
	background: #898;
	padding: 10px;
	text-align: center;
}

nav ul li a
{
	color: #9f3;
	font-weight: bold;
}

/* Products page */
.product-list
{
	clear: both;
}

.orderItem-list span
{
	margin-left: 1rem;
}

.cell
{
	height: 320px;
	padding: 15px;
}

.cell header
{
	height: 85%;
}

.cell footer
{
	height: 15%;
	vertical-align: bottom;
}



.cell .price
{
	float: right;
	margin-top: 10px;
}

.cell input[type=button],
.cell .price
{
	margin-top: 10px;
	
}



@media only screen and (max-width: 480px) 
{
	.cell
	{
		display: table;
		clear: both;
		height: auto;
		
	}
}

/*   Start Cart */
.cart h1
{
	font-size: 2.2rem;
	border-bottom: 1px dotted black;
	margin-bottom: 3rem;
}
.cart h2
{
	font-size: 1.8rem;
	margin: 0;
}

.cart .items
{
	margin-bottom: 6rem;
}
.cart .items input[type='text']
{
	width: 2em;
}

.cart .row
{
	height: 3.5rem;
}

.cart form input[type='text']
{
	width: 58rem;
}

@media only screen and (max-width: 480px) 
{
	.cart form input[type='text']
	{
		width: 80%;
	}
	
	.cart form .row
	{
		height: 8rem;
	}
}