body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.cell
{
	height: 320px;
	padding: 15px;
}

.cell header
{
	height: 85%;
}

.cell footer
{
	height: 15%;
	vertical-align: bottom;
}

.cell h2
{
	font-size: 2.0rem;
}

.cell .price
{
	float: right;
	margin-top: 10px;
}

.cell input[type=button],
.cell .price
{
	margin-top: 10px;
	
}

nav
{
	margin: 0 0 0 18px;
	padding: 0;
}

nav ul
{
	list-style-type: none;
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
	margin: 0;
	padding: 0;
	margin-left: 10px;
}

nav ul li
{
	display: inline-block;
	width: 100px;
	height: 35px;
	background: #898;
	padding: 10px;
	text-align: center;
}

nav ul li a
{
	color: #9f3;
	font-weight: bold;
}

@media only screen and (max-width: 480px) 
{
	.cell
	{
		display: table;
		clear: both;
		height: auto;
		
	}
}